.link-lookalike {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.without-underline {
    text-decoration: none;
    color: black;
}

.head {
    font-size: larger;
}

.error {
    font-size: 10pt;
    color: red
}

.required {
    color: red;
}

td.right {
    text-align: right;
}

input[type=password] {
    width: 150px;
}

#search {
    width: 250px;
}

input[type=text] {
    width: 150px;
}

td.center {
    text-align: center;
}

body {
    margin: 0
}

div {
    border: 1px dashed black;
}

.data {
    border: 0 dashed black;
    padding-left: 5px;
    height: auto;
}

.books-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    float: top;
}

.book-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: large;
    text-align: left;
    padding-left: 20px;
    float: top;
}

.author-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: large;
    text-align: left;
    padding-left: 20px;
    float: top;
}

.book-header1 {
    border: 0 dashed black;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    text-align: left;
    float: top;
}

.author-header1 {
    border: 0 dashed black;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    text-align: left;
    float: top;
}

.book-header2 {
    border: 0 dashed black;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    float: top;
}

.author-header2 {
    border: 0 dashed black;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    float: top;
}

.book-header3 {
    border: 0 dashed black;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    float: top;
}

.author-header3 {
    border: 0 dashed black;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    float: top;
}

.subscriptions-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    float: top;
}

.users-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    float: top;
}

.authors-header {
    border: 0 dashed black;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    float: top;
}

.page-list {
    border: 0 dashed black;
    margin-top: 10px;
    font-size: medium;
    text-align: center;
    float: top;
}

.book {
    border: 0 dashed black;
    float: top;
}

.subscription {
    border: 0 dashed black;
    float: top;
}

.author {
    border: 0 dashed black;
    float: top;
}

.book-title {
    border: 0 dashed black;
    font-size: medium;
    float: top;
}

.subscription-title {
    border: 0 dashed black;
    font-size: medium;
    float: top;
}

.author-title {
    border: 0 dashed black;
    font-size: medium;
    float: top;
}

.book-authors {
    border: 0 dashed black;
    float: top;
    padding-left: 10px;
    height: 1.0em;
}

.subscription-states {
    border: 0 dashed black;
    float: top;
    padding-left: 10px;
    height: 1.0em;
}

.book-author {
    border: 0 dashed black;
    font-size: small;
    float: left;
    padding-left: 10px;
}

.book-author2 {
    border: 0 dashed black;
    font-size: medium;
    float: top;
    padding-left: 20px;
    text-align: left;
}


.author-author2 {
    border: 0 dashed black;
    font-size: medium;
    float: top;
    padding-left: 20px;
    text-align: left;
}

.book-author3 {
/ / border: 0 dashed black;
    font-size: medium;
    float: top;
    padding-left: 20px;
    text-align: left;
}

.subscription-state {
    border: 0 dashed black;
    padding-top: 3px;
    font-size: small;
    float: left;
    padding-left: 10px;
}

.author-offset {
    border: 0 dashed black;
    height: 10px;
    float: top;
}

.book-offset {
    border: 0 dashed black;
    height: 10px;
    float: top;
}

.subscription-offset {
    border: 0 dashed black;
    height: 20px;
    float: top;
}

.page {
    margin: 0;
    min-width: 800px;
    border: 0 dashed black;
}

.context {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 80%;
    min-width: 800px;
}

.header {
    height: 80px;
/ / border: 0 px dashed black;
    border-bottom-style: none;
    background: azure;
    text-align: center;
    float: top;
}

.middle {
    height: 100%;
/ / border: 0 px dashed black;
    background: white;
    float: top;
}

.footer {
    height: 80px;
/ / border: 0 px dashed black;
    background: white;
    float: bottom;
    display: none;
}

.header-logo {
    width: 80px;
    height: 80px;
/ / display: none;
    float: left;
}

.book-img {
    width: 128px;
    height: 128px;
/ / padding: 10 px;
    padding: 10px 20px 30px 25px;
/ / display: none;
/ / float: top;
}

.author-img {
    width: 128px;
    height: 128px;
/ / padding: 10 px;
    padding: 10px 20px 30px 25px;
/ / display: none;
/ / float: top;
}

.book-img2 {
    border: 0 dashed black;
    width: 170px;
/ / height: 276 px;
    padding: 5px;
/ / display: none;
    float: left;
}

.author-img2 {
    border: 0 dashed black;
    width: 170px;
/ / height: 276 px;
    padding: 5px;
/ / display: none;
    float: left;
}

.book-data {
    border: 0 dashed black;
    padding: 10px;
/ / display: none;
    float: left;
}

.author-data {
    border: 0 dashed black;
    padding: 10px;
/ / display: none;
    float: left;
}

.book-command {
/ / padding: 10 px;
/ / display: none;
/ / float: top;
}

.header-user {
    padding: 10px;
    width: auto;
    background: #fff;
    text-align: right;
    float: right;
}

.header-locale {
    border: 0 dashed black;
    margin-top: 0;
    height: 20px;
    position: relative;
    float: right;
    top: -20px;
}

.header-search {
    border: 0 dashed black;
    //margin-top: 0;
    height: 20px;
    position: relative;
    float: right;
    //top: -20px;
    //right: -5px;
    left: 37px;
}

.header-submenu{
    border: 0 dashed black;
//margin-top: 0;
    //width: auto;
    //height: auto;
//position: relative;
    float: left;
//top: -20px;
//right: 5px;
}

.subscription-command {
/ / padding-left: 10 px;
    border: 0 dashed black;
    height: 20px;
    float: left;
}

.subscription-command-offset {
    padding-left: 20px;
    border: 0 dashed black;
    height: 20px;
    float: left;
}

.middle-menu {
    background: azure;
/ / border: 0 px dashed black;
    width: 150px;
    height: auto;
    float: left;
    text-align: left;
    padding: 5px;
/ / display: none;
}

.middle-context {
    background: white;
    border: 0 dashed black;
/ / float: left;
    margin-left: 165px;
    width: calc(100% - 150 - 15);
    height: auto;

}

.middle-context-menu-top {
    background: azure;
    float: top;
    text-align: left;
    padding: 5px;
    height: 23px;
/ / display: none;
}

.middle-context-data {
    background: white;
    border: 0 dashed black;
    margin-top: 0;
    float: top;
    width: calc(80% - 150 - 15);
    height: auto;
    text-align: left;
/ / padding-left: 5 px;
/ / display: none;
}
